* {
    margin: 0;
    padding: 0;
    border: 0;

    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #F77F00, #FCBF49);
}

.little-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 80%;
    transform: translateX(-50%) translateY(-50%);

    background-color: azure;
    border-radius: 15px;
    box-shadow: 10px 10px 1000px -50px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.little-menu input {
    margin: 0;
    height: 40px;
    width: 60%;
    border: 3px solid #F77F00;
    outline: none;
    border-radius: 10px;
    padding: 0 10px;
}

.little-menu .accountImg {
    height: 100px;
    width: 100px;
    padding: 0;
    border: none;
    border-radius: 100px;
}

.little-menu img {
    width: 40%;
}

.little-menu p {
    height: 40px;
    width: 60%;
    padding: 0;
    border: none;
    text-align: center;
    font-size: 2rem;
    color: #999999
}

.little-menu p#killedby {
    font-size: 1rem;
}

.little-menu .error {
    height: auto;
    font-size: 1rem;
    text-align: left;
    border-radius: 0;
    color: #D62828
}

.little-menu span .bottom-btn {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    color: #F77F00;
    width: auto;
    display: inline;
}

.little-menu span {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.little-menu button {
    background-color: #F77F00;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    height: 40px;
    width: 60%;
    outline: none;
    border-radius: 10px;
    padding: 0 10px;
}

.little-menu button.white {
    background-color: white;
    color: #F77F00;
    border: 1px solid #F77F00;
}

.little-menu div {
    width: 60%;
}

.little-menu div * {
    width: 100%;
    margin: 10px 0;
}